<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Play Buster!</title>
  </head>
  <body>
    <h2 class="game">Buster World Play!</h2>
     <nav>
      <a href="{% url 'start' %}">Home</a>
      <a href="{% url 'high_scores' %}">High Scores</a>
    </nav>
    <div id="map"></div>
    <div id="game"></div>
    <fieldset class="game_over invisible" >
      <form method="post" action="{% url 'score_submit'%}">
      {% csrf_token %}
        <label>Name</label><input type="text" name="player_name"> <br>
        <label>Score</label><input type="text" id="player_score" name="player_score" readonly>
        <label>Time</label><input type="text" id="player_time" name="player_time" readonly>
        <input type="submit">
      </form>
    </fieldset>
  </body>
  <!--Loads Jquery and Style.CSS-->
  <script src="https://code.jquery.com/jquery-2.2.3.js"></script>
  <link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
  <!---->
  <!--Loads Google API and Map.js-->
  <script src="https://maps.googleapis.com/maps/api/js?key={{KEY}}"></script>
  <script src="{% static 'buster_world/map.js' %}"></script>
  <!---->
  <!--Loads Phaser and Game.JS-->
  <script src="//cdn.jsdelivr.net/phaser/2.5.0/phaser.min.js"></script>
  <script src="{% static 'buster_world/game.js' %}"></script>
  <!---->
  <!--Loads Icons For Game-->
  <script>
    var tallChainIcon = "{% static 'buster_world/sprites/tall_chain.png' %}"
    var wideChainIcon = "{% static 'buster_world/sprites/wide_chain.png' %}"
    var girlIcon = "{% static 'buster_world/sprites/girl.png' %}"
    var shieldIcon = "{% static 'buster_world/sprites/shield.png' %}"
    var bubbleIcon = "{% static 'buster_world/sprites/bubble.png' %}"
  </script>
</html>
