<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Play Buster!</title>
  </head>
  <body>
    <h2 class="game">Buster World Play!</h2>
     <nav>
      <a href="{% url 'start' %}">Home</a>
      <a href="{% url 'high_scores' %}">High Scores</a>
    </nav>
    <div id="map"></div>
    <fieldset class="game_over invisible" >
      <form method="post" action="{% url 'score_submit'%}">
      {% csrf_token %}
        <label>Name</label><input type="text" name="player_name"> <br>
        <label>Score</label><input type="text" id="player_score" name="player_score" readonly>
        <label>Time</label><input type="text" id="player_time" name="player_time" readonly>
        <input type="submit">
      </form>
    </fieldset>
  </body>
  <!--Loads Jquery and Style.CSS-->
  <script src="http://code.jquery.com/jquery-2.2.3.js"></script>
  <link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
  <!---->
  <!--Loads Google API and Map.js-->
  <script src="https://maps.googleapis.com/maps/api/js?key={{KEY}}"></script>
  <script src="{% static 'buster_world/map.js' %}"></script>
  <!---->
  <!--Loads Phaser and Game.JS-->

  <!---->
  <!--Loads Icons For Game-->
  <script> var chain_icon = "{% static 'buster_world/sprites/chain.png' %}" </script>
  <script> var bubble_icon = "{% static 'buster_world/sprites/bubble.png' %}" </script>
  <script> var orb_icon = "{% static 'buster_world/sprites/orb.png' %}" </script>
  <script> var girl_icon = "{% static 'buster_world/sprites/girl.png' %}" </script>
  <script> var shield_icon = "{% static 'buster_world/sprites/shield.png' %}" </script>
  <script> var map_icon = "{% static 'buster_world/sprites/map.png' %}" </script>
</html>
