<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
    <meta charset="UTF-8">
    <title>High Score!</title>
  </head>
  <body>
    <h2>
      <img src="{% static 'buster_world/images/high_score.png' %}">
    </h2>
    <nav>
      <a href="{% url 'start' %}"> <img src="{% static 'buster_world/images/logo.png' %}"> </a>
    </nav>
    <div class="text_box">
      <h3> The Best </h3>
      <ol>
        {% for player in top %}
        <li class="top-ten">{{ player.name }}: {{ player.score }}</li>
        {% endfor %}
      </ol>
    </div>
    <div class="text_box">
      <h3> The Rest </h3>
      <ul class="the_rest">
        {% for player in the_rest %}
        <li> {{ player.name }}: {{ player.score }}</li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
