<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
    <meta charset="UTF-8">
    <title>Best Busters!</title>
  </head>
  <body>
    <h2>
      <img src="{% static 'buster_world/sprites/logo.png' %}">
    </h2>
    <nav>
      <a href="{% url 'start' %}">Home</a>
    </nav>
    <ol>
      {% for player in top %}
      <li class="top-ten">{{ player.name }}, {{ player.score }}</li>
      {% endfor %}
      {% for player in the_rest %}
      <li> {{ player.name }}, {{ player.score }}</li>
      {% endfor %}
    </ol>
  </body>
</html>
