<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="UTF-8">
    <title>Start Buster!</title>
  </head>
  <body>
    <h2>Buster World!</h2>
    <nav>
      <a href="{% url 'high_scores' %}">High Scores</a>
    </nav>
    <p>
      <h3>How to Play!</h3>
      <ul>
        <li>Walk around! This moves your character!</li>
        <li>Press the Space Button to launch your grapple hook!</li>
        <li>Pop as many Bubbles as you can before they hit you!</li>
        <li>Each time a demoralizing bubble hits you, you lose a point of resolve!</li>
        <li>Play until you run out of resolve!</li>
      </ul>

    </p>
    <button>Start!</button>
    <form class="invisible">
      Player Name: <input type="text">
    </form>
  </body>
<link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
</html>