<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
  <head>
    <link rel="stylesheet" href="{% static 'buster_world/style.css' %}">
    <meta charset="UTF-8">
    <title>Start Buster!</title>
  </head>
  <body>
    <h2>
      <img src="{% static 'buster_world/images/logo.png' %}">
    </h2>
    <nav>
      <a href="{% url 'high_scores' %}">High Scores</a>
    </nav>
    <h3>How to Play!</h3>
    <ul>
      <li>Walk around! This moves your character!</li>
      <li>Press on the screen to launch your grappling hook!</li>
      <li>Pop as many Bubbles as you can before they hit you!</li>
      <li>Each time a demoralizing bubble hits you, you lose a point of resolve!</li>
      <li>Play until you run out of resolve!</li>
    </ul>
    <a href="{% url 'game'%}">
     <img src="{% static 'buster_world/images/play.png' %}">
    </a>
  </body>
</html>
