.invisible {
  display: none;
}

#map {
  height: 480px;
  width: 320px;
  position:absolute;
  z-index: 0;
}

#game {
  position: relative;
  z-index: 1;
}

.top-ten {
font-size: 14;
font-weight: bold;
}
