#map {
  height: 480px;
  position:absolute;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#game {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
}

.invisible {
  display: none;
}

.top-ten {
font-size: 14;
font-weight: bold;
}

body {
  display: flex;
  flex-direction: column;
  width: 400px;
  background:white url(images/gray.png) repeat-x;
}

h3,
h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}


nav {
  flex-direction: row;
  align-items: center;
}


img {
  display: block;
  max-width: 100%;
  margin: auto;
}
