#map {
  height: 480px;
  position:absolute;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#game {
  position: relative;
  z-index: 1; /* The z-index should be higher than Google Maps */
}

.invisible {
  display: none;
}

.top-ten {
font-size: 14;
font-weight: bold;
}

.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

body {
  display: flex;
  flex-direction: column;
  width: 400px;
}

h3,
h2 {
  align-items: center;
  justify-content: center;
  text-align: center;
}


nav {
  flex-direction: row;
  align-items: center;
}

a {
  flex: 1;
}

img {
  max-width: 100%;
}
